:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  background-color: #fefefe;
  color: #000000d0;
  --primary: #10354b;
  --pink: #f49f9c;
  --lightPink: #fde6e7f5;
  --pinkWhite: #fef6f6cf;
  --lightBlue: #6b94add0;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
}

a:hover {
  color: var(--pink);
}

body {
  margin: 0 auto;
  padding: 1vh 2.5rem;
  display: flex;
  flex-direction: column;
  min-width: 420px;
  max-width: 78rem;
  text-align: center;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 6px;
  padding: 4px 14px;
  border: none;
  font-weight: 600;
  font-size: 0.9em;
  cursor: pointer;
  border: 1px solid var(--primary);
  transition: background-color 0.25s;
  text-align: center;
  background-color: var(--pinkWhite);
  color: var(--primary);
  letter-spacing: 1px;
}
button:hover {
  /* border: none; */
  color: var(--primary);
  /* border: 1px solid var(--lightPink); */
  background-color: var(--lightPink);
  transition: border 0.15s;
}

/********************* NavBar *********************/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.2vw;
}

.nav-links {
  display: flex;
  gap: 2em;
}

.nav-links a {
  font-weight: 600;
  color: #010101bb;
  text-decoration: inherit;
  cursor: pointer;
}

.nav-links *:hover {
  color: var(--pink);
}

.navBar__logo {
  cursor: pointer;
  width: 4rem;
  margin-top: 4px;
}

.auth-links {
  display: flex;
  gap: 2em;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/********************* Sign Up & Login *********************/

.register-box {
  width: auto;
  border-color: var(--lightBlue);
  border-radius: 5px;
  border-width: 1px;
}

.input-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input-div-bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.register-input {
  margin-bottom: 2;
  width: 25%;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
}

.login-input {
  margin-bottom: 2;
  width: 25%;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
}

.signup-btn {
  margin-bottom: 30px;
}

.error-message {
  margin-top: 20px;
}

/********************* Search *********************/

.search-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 38rem;
  margin: 0 auto;
}

.search-field {
  display: flex;
  flex-direction: column;
  margin-top: 1.8rem;
  text-align: left;
}

.search-field label {
  font-size: 14px;
  color: var(--primary);
}

.search-field div {
  display: flex;
  padding-top: 6px;
  gap: 1em;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.search-field p {
  font-size: 1.2rem;
  color: var(--lightBlue);
  margin-top: 1rem;
  margin-bottom: 4rem;
}

form input {
  color: #000000;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 1px solid var(--lightBlue);
  text-align: left;
  font-size: 1em;
  justify-content: center;
}

.share-link {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
  margin-top: 6rem;
}

.msg {
  margin-top: 2rem;
  font-size: 1.2em;
  color: #000000;
}

.found {
  display: flex;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.212);
  background-color: var(--pinkWhite);
  border-radius: 4px;
  padding: 8px;
  width: 88%;
  margin-top: 0;
  justify-content: space-between;
}

.found span {
  font-size: 12px;
  padding: 0 1rem;
  color: var(--pink);
}

.not-found {
  margin-top: 2rem;
  font-size: 1.2em;
  color: #5b4e4e;
}
.confirmation {
  width: 20rem;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 16px;
  padding: 1rem 0;
  color: #000000;
  box-shadow: 0 0 19px 1px rgba(86, 86, 86, 0.177);
  border-radius: 8px;
}

.confirmation button {
  margin-top: 2rem;
}

/********************* Pending invitations *********************/
.pending-page {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.invitation-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  width: 48%;
  height: 4rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.382);
  border-radius: 8px;
  padding: 12px 18px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.invitation-card span {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary);
}

/********************* Card *********************/

.empty-card {
  visibility: hidden;
  width: 360px;
  height: 58vh;
}

.card {
  width: 360px;
  height: 58vh;
  min-height: 320px;
  box-shadow: 0 0 19px 2px rgba(97, 97, 97, 0.3);
}

.card__image {
  width: 100%;
  height: 74%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .last {
  filter: grayscale(100%);
}

.card__info {
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
  font-size: 13px;
  text-align: left;
  color: var(--lightBlue);
}

.card__info h2 {
  font-size: 1.7em;
  color: var(--primary);
  margin-bottom: 0.2rem;
  text-align: center;
}


/********************* Selections *********************/

.event-selection {

  min-height: 400px;
  height: 100vh;

}

.selection-view {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  height: 80vh;
}

.cards-group {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}


.back-card {
  background-color: #ffffff;
  transform: scale(0.8);
  z-index: 0;
  filter: blur(1px);
  opacity: 0.7;
}

.main-card {
  background-color: #ffffff;
  transform: scale(1.2);
  z-index: 9999;
}

 .next {
  cursor: pointer;
  position: relative;
}


.next .text {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--lightBlue);
  font-size: 2rem;
  font-weight: 600;
  transition: opacity 0.3s ease;
  z-index: 99999;
  filter: none;
}
.next:hover .text {
  opacity: 2;
  color: var(--primary);

}


.select-button {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
}

.select-button a * {
  width: 3.3rem;
  height: auto;
  margin-top: 2.8rem;
  cursor: pointer;
}

.select-button button {
  margin-top: 3rem;
}

/********************* Match Page *********************/
.featured-date {
  column-count: 2;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 25em;
}

.image-card {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-text {
  column-span: 1;
}

.match-longDesc {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  margin-top: 5px;
}

.btn-readMore {
  margin-bottom: 40px;
}

/********************* Map *********************/
