:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  background-color: #fefefe;
  color: #000000d0;
}

* {
  box-sizing: border-box;
  line-height: 1.6;
  margin: 0;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  min-width: 420px;
  min-height: 100vh;
  max-width: 160vh;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 6px;
  padding: 6px 14px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #00000000;
  transition: background-color 0.25s;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  letter-spacing: 3px;
}
button:hover {
  background-color: #008771;
  color: #ffffff;
}

/********************* NavBar *********************/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.nav-links {
  display: flex;
  gap: 2em;
}

.nav-links a {
  font-weight: 600;
  color: #010101bb;
  text-decoration: inherit;
  cursor: pointer;
}

.navBar__logo {
  cursor: pointer;
}

.auth-links {
  display: flex;
  gap: 2em;
}

/********************* Sign Up & Login *********************/

.register-box {
  width: auto;
  border-color: #706f6f;
  border-radius: 5px;
  border-width: 1px;
}

.input-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input-div-bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.register-input {
  margin-bottom: 2;
  width: 25%;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
}

.login-input {
  margin-bottom: 2;
  width: 25%;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
}

.signup-btn {
  margin-bottom: 30px;
}

.error-message {
  margin-top: 20px;
}

/********************* Search *********************/

.search-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 30rem;
  margin: 0 auto;
}

.search-field {
  display: flex;
  flex-direction: column;
  margin-top: 14rem;
  text-align: left;
}

.search-field label {
  font-size: 14px;
  color: #000000;
}

.search-field div {
  display: flex;
  padding-top: 6px;
  gap: 1em;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 100%;
}

form input {
  color: #000000;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 1px solid #1a1a1ab7;
  text-align: left;
  font-size: 1em;
  justify-content: center;
}

.share-link {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
  margin-top: 6rem;
}

.msg {
  margin-top: 2rem;
  font-size: 1.2em;
  color: #000000;
}

.found {
  display: flex;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.121);
  background-color: #d6f4ed92;
  border-radius: 4px;
  padding: 8px;
  width: 89%;
  margin-top: 0;
  justify-content: space-between;
}

.found span {
  font-size: 12px;
  padding: 0 1rem;
  color: #02a993;
}

.not-found {
  margin-top: 2rem;
  font-size: 1.2em;
  color: #5b4e4e;
}
.confirmation {
  width: 20rem;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 16px;
  padding: 1rem 0;
  color: #000000;
  box-shadow: 0 0 19px 1px rgba(86, 86, 86, 0.177);
  border-radius: 8px;
}

.confirmation button {
  margin-top: 2rem;
}

/********************* Pending invitations *********************/
.pending-page {
  display: flex;
  flex-direction: column;

  margin-top: 8rem;
}

.invitation-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 48%;
  height: 4rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.382);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 1rem;
}

/********************* Card *********************/

.empty-card {
  visibility: hidden;
  width: 340px;
  height: 420px;
}

.card {
  width: 340px;
  height: 420px;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.3);
}

.card__image {
  width: 100%;
  height: 74%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.card__info h2 {
  font-size: 1.5em;
  color: #000000;
}

/********************* Selections *********************/

.selection-view {
  display: flex;

  flex-direction: column;
  padding-top: 3.2rem;
}

.cards-group {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.back-card {
  background-color: #ffffff;
  transform: scale(0.8);
  z-index: 0;
  filter: blur(1px);
  opacity: 0.7;
}

.main-card {
  background-color: #ffffff;
  transform: scale(1.2);
  z-index: 9999;
}

.select-button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.select-button a * {
  width: 4rem;
  height: auto;
  margin-top: 2.8rem;
}

/********************* Match Page *********************/
.featured-date {
  column-count: 2;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 25em;
}

.image-card {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-text {
  column-span: 1;
}

.match-longDesc {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  margin-top: 5px;
}

.btn-readMore {
  margin-bottom: 40px;
}
